<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Correción de la Evaluación
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Correción de la Evaluación</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Inputs-->
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="nombre" label="Nombre" placeholder="Ingresar su nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="apellido" label="Apellido" placeholder="Ingresar su apellido"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input [(ngModel)]="edad" type="number" label="Edad" placeholder="00"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input [(ngModel)]="email" type="email" label="Correo" placeholder="email@domain.com"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input [(ngModel)]="telefono" type="tel" label="Telefóno" placeholder="0988-888-888"></ion-input>
      </ion-item>
    </ion-list>
  </ion-list>



  <!-- Checklist con panel-->
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="fruta" placeholder="Escoger una fruta">
        <div slot="label">Que fruta le gusta más? <ion-text color="danger"></ion-text></div>
        <ion-select-option value="Manzano">Manzana</ion-select-option>
        <ion-select-option value="Banana">Banana</ion-select-option>
        <ion-select-option value="Naranja">Naranja</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>



  <!-- Fecha -->
  <ion-item>Fecha de la Evaluación</ion-item>
  <ion-datetime [(ngModel)]="fecha"></ion-datetime>


  <!-- Check de boton-->
  <ion-list>
    <ion-item>
      <ion-checkbox  [(ngModel)]="esEstudiante" label-placement="stacked" alignment="start">Eres Estudiante</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox  [(ngModel)]="esMaestro" label-placement="stacked" alignment="start">Eres Maestro</ion-checkbox>
    </ion-item>
  </ion-list>


  <!-- Boton -->
  <ion-button fill="outline" (click)="enviarFormulario()">Enviar a Firebase</ion-button>









</ion-content>
